

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    .hover {
        opacity: .8;
            
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    .btn {
        display: flex;
        justify-content: center;
        width: 150px;
        padding: 7px;
        font-size: 15px;
        font-weight: 600;
        color: #FFF;
        background-color: #000;
        border: none;
        border-radius: 5px;
        text-decoration: none;
    }

    .link {
        width: fit-content;
        color: #000;
        text-decoration: none;
        border-bottom: 1px solid;
    }

    header {
        display: flex;
        justify-content: space-between;
        gap: 1vw;
        align-items: baseline;
        padding: 2vh 2vw 1.5vw;
        background-color: #000;

        > div {
            display: flex;
            align-items: baseline;
            gap: 2vw;

            #mainTitle {
                color: #FFF; 
                font-size: 30px;
                font-weight: bold;
                text-decoration: none;
                border: none;
            }
    
            .link {
                color: #FFF; 
            }
        }
    }

    .page-content {
        margin: 1vh 2vw;

        .new-task-btn {
            position: absolute;
            top: 90px;
            right: 25px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 2vh;
            width: fit-content;
            margin-top: 2vh;

            input[type="text"],
            input[type="password"],
            textarea,
            select {
                padding: 5px;
                border: 1px solid #00000061;
                border-radius: 5px;

                &:focus{
                    outline:solid 1px #00000061;
                }
            }

            h2 {
                margin: 1vh 0 -15px;
            }

            .body {
                display: flex;
                flex-direction: column;
                gap: 1vh;
                width: fit-content;

                .elem {

                    > div {
                        display: flex;
                        flex-direction: column;
                        gap: 1vh;
                    }

                    &.flex div div {
                        display: flex;
                        gap: 5px;

                        input[type="checkbox"],
                        label {

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        &#index_page {

            ul.task-list {
                display: flex;
                flex-direction: column;
                gap: 2vh;
                padding: 0;

                li.task-elem {
                    display: flex;
                    min-width: fit-content;
                    align-items: center;
                    justify-content: space-between;
                    min-width: fit-content;
                    width: 300px;
                    max-width: 500px;
                    padding: 1vh 2vw;
                    background-color: #eee;
                    border-radius: 10px;
                }
            }
        }
        
        &#newTask_page {
            form {
                div {
                    display: flex;
                    flex-direction: column;
                    gap: 1vh;
                }

                #task_date {
                    flex-direction: row;
                }
            }
        }



        // ADMIN

        &#admin_page {
            ul {
                display: flex;
                flex-direction: column;
                gap: 1vh;
            }
        }

        &#admin-users_page,
        &#admin-categories_page {
            table {
                width: fit-content;
                margin-top: 2vh;
                border-collapse: collapse;

                td {
                    border: 1px solid #ddd;
                    padding: 8px;
                }

                th {
                    border: 1px solid #ddd;
                    padding: 8px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    text-align: left;
                    background-color: #000;
                    color: #FFF;
                }

                tr {
                    &:nth-child(even) {
                        background-color: #f2f2f2;
                    }
                }
            }
        }

        &#admin-users-edit_page {
            input[type="email"] {
                max-width: 250px;
            }
        }
    }
}
