body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body .hover {
  opacity: 0.8;
}
body .hover:hover {
  opacity: 1;
  cursor: pointer;
}
body .btn {
  display: flex;
  justify-content: center;
  width: 150px;
  padding: 7px;
  font-size: 15px;
  font-weight: 600;
  color: #FFF;
  background-color: #171717;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
body .link {
  width: -moz-fit-content;
  width: fit-content;
  color: #171717;
  text-decoration: none;
  border-bottom: 1px solid;
}
body header {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  align-items: baseline;
  padding: 2vh 2vw 1.5vw;
  background-color: #171717;
}
body header > div {
  display: flex;
  align-items: baseline;
  gap: 2vw;
}
body header > div #mainTitle {
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  border: none;
}
body header > div .link {
  color: #FFF;
}
body header > div #dropdown_lang label {
  display: flex;
  gap: 10px;
  align-items: center;
  border: none;
}
body header > div #dropdown_lang ul.dropdown-inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  background: #171717;
  border-radius: 0 0 5px 5px;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  visibility: hidden;
  z-index: 2;
}
body header > div #dropdown_lang .dropdown-open:checked ~ .dropdown-inner {
  opacity: 100;
  visibility: visible;
}
body .page-content {
  margin: 1vh 2vw;
}
body .page-content .new-task-btn {
  position: absolute;
  top: 90px;
  right: 25px;
}
body .page-content form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 2vh;
}
body .page-content form input[type=text],
body .page-content form input[type=password],
body .page-content form textarea,
body .page-content form select {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3803921569);
  border-radius: 5px;
}
body .page-content form input[type=text]:focus,
body .page-content form input[type=password]:focus,
body .page-content form textarea:focus,
body .page-content form select:focus {
  outline: solid 1px rgba(0, 0, 0, 0.3803921569);
}
body .page-content form h2 {
  margin: 1vh 0 -15px;
}
body .page-content form .body {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: -moz-fit-content;
  width: fit-content;
}
body .page-content form .body .elem > div {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
body .page-content form .body .elem.flex div div {
  display: flex;
  gap: 5px;
}
body .page-content form .body .elem.flex div div input[type=checkbox]:hover,
body .page-content form .body .elem.flex div div label:hover {
  cursor: pointer;
}
body .page-content#index_page ul.task-list {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  max-height: 43vh;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 20px 0 0;
  overflow-y: auto;
}
body .page-content#index_page ul.task-list::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
body .page-content#index_page ul.task-list::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 10px;
}
body .page-content#index_page ul.task-list::-webkit-scrollbar-thumb {
  background-color: #171717;
  border-radius: 10px;
}
body .page-content#index_page ul.task-list li.task-elem {
  display: flex;
  min-width: -moz-fit-content;
  min-width: fit-content;
  align-items: center;
  justify-content: space-between;
  min-width: fit-content;
  width: 300px;
  max-width: 500px;
  padding: 1vh 2vw;
  background-color: #eee;
  border-radius: 10px;
}
body .page-content#newTask_page form div {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
body .page-content#newTask_page form #task_date {
  flex-direction: row;
}
body .page-content#admin_page ul {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
body .page-content#admin-users_page table, body .page-content#admin-categories_page table {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 2vh;
  border-collapse: collapse;
}
body .page-content#admin-users_page table td, body .page-content#admin-categories_page table td {
  border: 1px solid #ddd;
  padding: 8px;
}
body .page-content#admin-users_page table th, body .page-content#admin-categories_page table th {
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #171717;
  color: #FFF;
}
body .page-content#admin-users_page table tr:nth-child(even), body .page-content#admin-categories_page table tr:nth-child(even) {
  background-color: #f2f2f2;
}
body .page-content#admin-users-edit_page input[type=email] {
  max-width: 250px;
}/*# sourceMappingURL=style.css.map */