{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block idPageContent %}admin{% endblock %}

{% block body %}

    <div>
        <h2>Espace Admin</h2>

        <ul>
            <li><a href="{{ path('admin_users') }}" class="link">Gérer les utilisateurs</a></code></li>
            <li><a href="{{ path('admin_users') }}" class="link">Gérer les catégories</a></code></li>
        </ul>
    </div>
{% endblock %}
