{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div>
        <h2>Hello Admin !</h2>

        <ul>
            <li><a href="{{ path('admin_users') }}">Gérer les utilisateurs</a></code></li>
            <li><a href="{{ path('admin_users') }}">Gérer les catégories</a></code></li>
        </ul>
    </div>
{% endblock %}
