{% extends 'base.html.twig' %}

{% block title %}New task{% endblock %}

{% block idPageContent %}newTask{% endblock %}

{% block body %}
    <a href="{{ path('app_task_index') }}" class="link hover">Retour</a>

    <h2>Nouvelle tache</h2>

    {{ include('task/_form.html.twig') }}
{% endblock %}
